<div>
 <h2>My Posts</h2>
    <a href="/newpost">NewPost</a>
    <a href="/">Home</a>
<div>
  {{#each post}}
    <h2>
        {{title}}
    </h2>
    <h3>
        {{body}}
    </h3>
    {{/each}}
</div>
</div>
